.changer {
  display: flex;
  background-color: var(--primary);
  padding: 1.4rem;
  margin-bottom: 1rem;
  color: var(--light);
  gap: 1rem;
  align-items: center;
}
.changer .def_rad {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px dotted transparent;
  overflow: hidden;
  outline: 2px dotted #fff;
}
.changer input {
  visibility: hidden;
}
